.container {
  height: 600px;
  width: 800px;
  margin-left: 10%;
  overflow: hidden;
  border: 1px solid black;
  margin-top: 20px;
  position: relative;
}

#ball {
  position: absolute;
  background-color: white;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  background-color: teal;
  display: none;
}

#paddle {
  position: absolute;
  background-color: white;
  height: 20px;
  width: 200px;
  left: 35%;
  bottom: 10px;
  background-color: teal;
  border-radius: 10px;
}

.brick {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  padding: 5px;
  color: white;
  font-size: 1.9em;
  text-align: center;
}

.start {
  display: inline-block;
  width: 70px;
  border: 1px solid black;
  text-align: center;
}

.score,
.lives {
  font-size: xx-large;
}

.gameOver {
  position: absolute;
  text-align: center;
  color: black;
  width: 100%;
  font-size: xx-large;
  line-height: 450px;
}
